@font-face {
    font-family: 'poker';
    src: url('../fonts/poker.otf');
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body{
    background-color: #222;
    overflow: hidden;

    font-family: 'poker';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("imgs/jpg/back5.jpg");
    background-size: cover;
}

.center-full{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    width: 100%;
    max-width: 100%;
    height: 1920px;
    max-height: 100%;
    background-color: #e74c3c;
    background-image: linear-gradient(90deg, #022813 , #356825);
    resize: both;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* alert */

.alert{
    width: 100%;
    height: 100%;
    background-color: #00000055;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert .alert-in{
    padding: 1.5em 2em;
    border-radius: 0.4em;
    background-image: linear-gradient(#56C84A, #2B6B2F);
    color: white;
    text-shadow: 0px 0px 3px #00000055;
    box-shadow: 5px 5px 10px #00000055;
}

/* table */

.img_table{
    max-width: 100%;
    max-height: 100vh;
    padding: 1em;
}

/* footer */

.footer{
    width: 100%;
    background-color: #222222;
}

.footer-end{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:1.2em;
    background-color: #101010;
    font-weight: bold;
}

.footer-end p{ font-size: 9pt; }
.footer-end h1{ font-size: 17pt; }

.footer-end .right{
    text-align: right;
}

.footer .footer-line{ 
    display: flex;
    padding: 1em;
    gap: 0.2em;
    text-align: center;
}

.roulette-group-off          { animation: fade-out 1s forwards cubic-bezier(0, 0.29, 0.17, 0.99);  }
.roulette-group-off .roullete{ animation: slide-up 1s forwards cubic-bezier(0, 0.29, 0.17, 0.99);  }

.roulette-group-on{ animation: fade-in 1s forwards; }
.roulette-group-on .roullete{ animation: slide-down 1s forwards; }


.roullete .div_ball .div_ball_in{
    height: 100%;
    padding: 22%;
}

.roullete .div_ball #img_ball{
    max-width : 30px;
    max-height: 30px;
}

/* table */

.square{
    /* min-width: 50px; */
    /* min-height: 30px; */
    padding:6px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 1px #fff;
    /* border: inset solid 2px #ffffff55; */
    color: white;
    transition: 0.1s;
    font-family: 'poker';
    color: #FFFFFF99;
    /* font-size: large; */
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.odd {background: linear-gradient(45deg, #d61d09, #9b1608)}
.even {background: linear-gradient(45deg, #000000, #111111)}


.red{background: #d41f0e}
.green{background: #009d42}
.black{background: black}

/* svg */
text{
    pointer-events: none;
    z-index: -1;
}

g:hover > rect{
    fill: #ffffff11; 
    cursor: pointer;   
    z-index: 10;
    position: relative;
    stroke-width:0px;
    stroke: lime;
}

/* coins */
.coins-left{
    background-color: black;
    position: fixed;
    top: 10px;
    left: 10px;
}

/* chosen */

.chosen{
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    min-width: min-content;
    height: 50px;
    border: solid 4px #707070;
    /* box-shadow: 2px 2px 0px black; */
    color: #b9c6ba;
    border-radius: 0.5em;
    /* background-image: linear-gradient(#56C84A, #2B6B2F); */
}
/* border: solid 4px #347e32; */
.chosen-red{background-color: #7d0602; border: solid 4px #360908;}
.chosen-black{background-color: #000000; border: solid 4px #111111;}
.chosen-green{background-color: #133d19; border: solid 4px #347e32;}

/* float menu */
#btn_float_menu{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    width: 60px;
    /* float: -1; */
    cursor: pointer;
}

#coins_left{
    width: 100%;
    overflow: hidden;
}

/* vertical */
.vert{writing-mode: vertical-rl;}

.triangle{
    position: relative;
}

.triangle::before{
    content:"";
    position: absolute;
    bottom: 100%;
    left: 0px;
    width: 20px;
    height: 20px;
    background-color: red;
    
    border: solid 2px black;

    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;

}